<img src="../../../assets/v2/divider.svg" class="w-full mt-5" alt="">
<div class="w-screen h-screen text-white pb-10 flex text-center items-center justify-between">
    <div class="w-1/3"></div>
    <div class="w-1/3 fel flex-col items-center justify-center">
        <h1 class="text-6xl">Why Metarivals?</h1>
        <p class="mt-10">Enough with <br>Online <br>trolling and ittering <br>Crypto Social media</p>
        <button class="my-10 w-5/6 hover:scale-105 transition-all">
            <img src="../../../assets/why-button.svg" class=" w-full -z-10" alt="" srcset="">
            <h1 class="relative -translate-y-14 mr-5">Time For Some Real Action</h1>
        </button>
    </div>
    <div class="w-1/3">
        <img src="../../../assets/why-right.svg" alt="" srcset="">
    </div>
</div>