<img src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">
<div class="w-screen h-screen text-white my-10 flex flex-col items-center justify-center">
    <h1
        class="text-6xl text-transparent px-4 bg-clip-text bg-gradient-to-t from-Dark to-Light font-['ThunderboldDemo'] uppercase">
        Game Plan</h1>
    <div class="flex items-center justify-center w-full mx-4">
        <div class="w-1/3 flex flex-col items-center justify-start">
            <div class="text-center">
                <h1
                    class="ml-2 text-2xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase">
                    Phase</h1>
                <h1
                    class="text-7xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase">
                    01</h1>
                <h1
                    class="ml-2 text-2xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase">
                    One on One Battle</h1>
                <h1 class="ml-2">Release of MetaRivals PVP beat’em up game</h1>
            </div>
        </div>
        <img src="../../../assets/v2/gameplan-hero.svg" class="w-1/3 scale-125 m-10" alt="">
        <div class="w-1/3 flex flex-col items-center justify-start">
            <div class="text-center">
                <h1
                    class="ml-2 text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase text-2xl">
                    Phase</h1>
                <h1
                    class=" text-7xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase ">
                    03</h1>
                <h1
                    class="ml-2  text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase text-2xl">
                    Exploring AR & VR</h1>
                <h1 class="ml-2 text-clip">Bringing the Metaverse to life by building the game in Augmented Reality and Virtual Reality</h1>
            </div>
        </div>
    </div>
    <div class="w-1/3 flex flex-col items-center justify-start">
        <div class="text-center">
            <h1 class="ml-2 text-2xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase">Phase</h1>
            <h1 class="text-7xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase">02</h1>
            <h1 class="ml-2 text-2xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['Poppins'] font-extrabold uppercase">Open Environment</h1>
            <h1 class="ml-2">The fun and tensions grow as players team up in squads and play against other teams, in an open 3D environment, located in the MetaRivals Metaverse.</h1>
        </div>
    </div>

</div>