<div class="w-screen hidden lg:flex z-30 h-24 p-4 bg-black bg-opacity-40 fixed items-center justify-between">
    <div class="flex ml-10 h-full items-center justify-start">
        <a class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Home</a>
        <a class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Documents</a>
        <a class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Roadmap</a>
    </div>
    <div class="">
        <img loading="eager" src="../../../assets/logo.png" class="scale-75" alt="">
    </div>
    <div class="flex mr-10 h-full items-center justify-end">
        <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">$MRVL</a>
        <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Partners</a>
        <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Subscribe to Newsletter!</a>
    </div>
</div>
<div class="w-screen lg:hidden z-30 h-24 p-0 bg-black bg-opacity-40 fixed flex items-center justify-between">
    <!-- <div class="flex ml-10 h-full items-center justify-start">
        <a class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Home</a>
        <a class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Documents</a>
        <a class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Roadmap</a>
    </div> -->
    <div class="">
        <img loading="eager" src="../../../assets/logo.png" class="scale-75" alt="">
    </div>
    <!-- <div class="flex mr-10 h-full items-center justify-end">
        <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">$MRVL</a>
        <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Partners</a>
        <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">NFTs Game</a>
    </div> -->
</div>