<img loading="lazy" src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">
<div class="w-screen h-[80vh] lg:h-screen my-10 text-white flex flex-col items-start justify-center lg:justify-evenly">
    <div class="w-full flex flex-col items-center mb-20 justify-center">
        <h1
            class="mt-0 lg:mt-10 w-full text-center mb-4 text-6xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['ThunderboldDemo'] px-4 uppercase">
            Roadmap</h1>
        <h1 class="w-full text-center">“Journey of thousands miles begin with one step” <br>
            Said The Wise Old Man</h1>
    </div>
    <div class="flex px-16 lg:px-0 flex-row items-center justify-center w-full">
        <img loading="lazy" src="../../../assets/roadmap-hero.svg" alt="" srcset="">
        <!-- <div class="w-full lg:w-1/2 my-20 lg:mr-60">
            <img loading="lazy" src="../../../assets/roadmap-line.svg" class="-z-10" alt="" srcset="">
            <div (mouseover)="setVisible(0)" (mouseout)="setVisible(0)" class="border-0 transition-all flex items-center justify-start hover:w-80 hover:border-2 hover:border-yellow-500 absolute -translate-y-[550%] md:-translate-y-[550%] ">
                <h1
                    class="font-['ThunderboldDemo'] text-2xl p-4 md:text-6xl text-yellow-300">
                    I</h1>
                <div *ngIf="visibility[0].value" class="flex flex-col items-start justify-center">
                    <h1
                    class="font-['ThunderboldDemo'] text-2xl p-4 md:text-base text-yellow-300">
                    Q2</h1>
                </div>
            </div>
            <div>
                <h1
                    class="absolute -translate-y-[550%] translate-x-[1000%] md:translate-x-[900%] md:-translate-y-[550%] font-['ThunderboldDemo'] text-2xl md:text-6xl text-purplePro">
                    II</h1>
            </div>

            <div>
                <h1
                    class="absolute -translate-y-[400%] translate-x-[1550%] md:translate-x-[1000%] md:-translate-y-[355%] font-['ThunderboldDemo'] text-2xl md:text-6xl text-red-400">
                    III</h1>
            </div>
            <div>
                <h1
                    class="absolute -translate-y-[350%] translate-x-[500%] md:translate-x-[300%] md:-translate-y-[355%] font-['ThunderboldDemo'] text-2xl md:text-6xl text-blue-400">
                    IV</h1>
            </div>

            <div>
                <h1
                    class="absolute -translate-y-[175%] md:-translate-y-[160%] translate-x-[50%] font-['ThunderboldDemo'] text-2xl md:text-6xl text-green-400">
                    V</h1>

            </div>
        </div> -->
        <img loading="lazy" src="../../../assets/roadmap-rocket.svg"
            class="w-full -z-10 lg:w-2/5 px-4 lg:px-0 absolute lg:translate-x-48 translate-y-10" alt="">
    </div>
</div>