<img src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">
<div class="w-screen h-auto lg:h-screen my-10 text-white flex flex-col items-start justify-start lg:justify-center">
    <h1 class="mt-10 w-full text-center mb-4 text-6xl text-transparent bg-clip-text bg-gradient-to-t from-Dark to-Light font-['ThunderboldDemo'] px-4 uppercase">Roadmap</h1>
    <h1 class="w-full text-center">“Journey of thousands miles begin with one step” <br>
        Said The Wise Old Man</h1>
    <div class="flex flex-row items-center justify-center w-full">
        <img src="../../../assets/roadmap-hero.svg" class=" w-full lg:w-1/2 my-20 lg:mr-60" alt="" srcset="">
        <img src="../../../assets/roadmap-rocket.svg" class="w-full lg:w-2/5 absolute lg:translate-x-48 translate-y-10" alt="">
    </div>
</div>