<img src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">
<div class="w-screen my-20 max-h-full text-white flex flex-col items-center justify-start">
    <img src="../../../assets/v2/footer.svg" class="absolute origin-center -z-10 w-full" alt="">
    <h1 class="text-6xl">PARTNERS</h1>
    <h1 class="my-5">Welcome to the Partners section</h1>
    <img src="../../../assets/partners.svg" class="mb-20" alt="">
    <img src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">

    <h1 class="text-6xl mt-10">CONTACT US</h1>
    <h1 class="my-5">Communication is Key</h1>
    <div class="flex my-4 items-center justify-center">
        <div class="flex ml-10 h-full items-center justify-start">
            <a
                class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Home</a>
            <a
                class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Documents</a>
            <a
                class="mx-4 transition-all hover:underline-offset-2 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Roadmap</a>
        </div>
        <div class="flex mr-10 h-full items-center justify-end">
            <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">$MRVL</a>
            <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">Partners</a>
            <a class="mx-4 cursor-pointer text-white font-semibold hover:text-yellow-400 hover:underline">NFTs Game</a>
        </div>
    </div>
    <div class="my-1">
        <fa-icon class="m-1 text-xl" [icon]="x[2]"></fa-icon>
        <fa-icon class="m-1 text-xl" [icon]="x[0]"></fa-icon>
        <fa-icon class="m-1 text-xl" [icon]="x[3]"></fa-icon>
        <fa-icon class="m-1 text-xl" [icon]="x[1]"></fa-icon>
    </div>
</div>