<img src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">
<div class="w-screen h-screen mt-10 flex items-center justify-between">
    <div class="text-white w-1/2 ml-16">
        <h1 class="text-6xl">What is Metarivals?</h1>
        <p>MetaRivals is an addictive arcade-style beat ‘em up metaverse game that enables players to battle with warriors based on crypto inspired avatars. <br><br> Our play2earn metaverse gaming ecosystem aims to connect various crypto-communities to a single platform by offering opportunities for players to represent and express their love and rivalries for their favouritecoins in a fun new way. Whilst earning $MRVL in rewards. <br><br>Players will be able to save their in-game warriors progress using the NFT technology that will be tradeable in our NFT marketplace. Hence acheiving value for their time in the game!</p>
    </div>
    <img src="../../../assets/about-hero.svg" class="w-1/2" alt="">
</div>