<img src="../assets/v2/background.svg" class="w-full overflow-x-hidden -z-10 absolute" alt="" srcset="">
<div class="w-full h-full snap-y absolute scroll-smooth snap-mandatory flex flex-col items-start justify-start">
  <app-header class="snap-center snap-always"></app-header>
  <app-hero class="snap-center snap-always"></app-hero>
  <app-about class="snap-center snap-always"></app-about>
  <app-whymetarivals class="snap-center snap-always"></app-whymetarivals>
  <app-nftmarketplace class="snap-center snap-always"></app-nftmarketplace>
  <app-mrvl-features class="snap-center snap-always"></app-mrvl-features>
  <app-gameplan class="snap-center snap-always"></app-gameplan>
  <app-roadmap class="snap-center snap-always"></app-roadmap>
  <app-team class="snap-center snap-always"></app-team>
  <app-partners class="snap-center snap-always"></app-partners>
</div>