<img src="../../../assets/v2/divider.svg" class="w-full my-5" alt="">
<div class="h-full w-full text-white flex flex-col items-center justify-start">
    <h1 class="text-6xl mt-20">TEAM</h1>
    <h1>Mind Behind MetaRivals</h1>
    <div class="flex flex-row w-full flex-wrap items-center justify-center">
        <div *ngFor="let item of teamlist" class="w-80 h-[416px] m-10 flex flex-col items-center justify-center">
            <img src="../../../assets/team-outline.svg" class="w-80 absolute -z-10" alt="">
            <img src="../../../assets/{{item.Name}}.png" class="w-30 border border-white p-2" alt="">
            <h1 class="w-full text-center mt-6 uppercase text-2xl">{{item.Name}}</h1>
            <h1 class="w-full text-center text-gray-400">{{item.Designation}}</h1>
            <div class="flex items-center justify-center">
                <fa-icon class="m-1 cursor-pointer hover:scale-110 transition-all text-xl" [icon]="x[0]"></fa-icon>
                <fa-icon class="m-1 cursor-pointer hover:scale-110 transition-all text-xl" [icon]="x[1]"></fa-icon>
            </div>
            <h1 class="text-[#6DFFFF] italic my-2 text-sm">Experience</h1>
            <img src="../../../assets/{{item.Experience}}.svg" alt="">
        </div>
    </div>
</div>