<img src="../../../assets/top header-0.png" class="h-full w-full absolute -z-10" alt="">
<div class="w-screen h-screen flex flex-row items-center justify-center">
    <div class="w-3/5 h-full flex flex-col items-center justify-center">
    </div>
    <div class="w-2/5 text-white h-full flex flex-col items-start justify-center">
        <h1 class="text-5xl"><b>Meta</b>Rivals</h1>
        <p class="text-3xl mt-4">
            First <b>Crypto <h1 class="text-yellow-400 inline">Rivalry <br /> Game</h1></b> Based on <br /> Crypto
            Characterset
        </p>
        <h1 class="text-base mt-4 font-bold">POWERED BY</h1>
        <img src="../../../assets/Powered-By.png" class="w-8" alt="" srcset="">
        <button class="w-52 text-lg font-bold rounded-3xl h-12 my-4 bg-gradient-to-r from-red-600 to-orange-400 ">
            IDO Coming Soon!
        </button>
        <h1 class="text-base font-bold">
            Backed by <h1 class="text-yellow-400 inline">100k Strong</h1> Community Members
        </h1>
        <div class="my-1">
            <fa-icon class="m-1 text-xl" [icon]="x[2]"></fa-icon>
            <fa-icon class="m-1 text-xl" [icon]="x[0]"></fa-icon>
            <fa-icon class="m-1 text-xl" [icon]="x[3]"></fa-icon>
            <fa-icon class="m-1 text-xl" [icon]="x[1]"></fa-icon>
        </div>
    </div>
</div>