<!-- <img src="../../../assets/top header-0.png" class="h-full w-full absolute -z-10" alt=""> -->
<img src="../../../assets/v2/hero-bg-2.svg" class="w-full hidden lg:block absolute -z-10" alt="">
<img src="../../../assets/v2/sm-hero-bg.svg" class="w-full block lg:hidden absolute -z-10" alt="">
<div class="w-screen mt-24 h-[100vh] lg:h-[75vh] flex flex-col lg:flex-row lg:items-start items-center justify-center">
    <div class="w-0 lg:w-3/5 flex flex-col items-center justify-center">
        <!-- <img src="../../../assets/v2/hero-hero.svg" class="w-full" alt=""> -->
    </div>
    <div
        class="w-full lg:w-2/5 h-full text-white flex flex-col items-center lg:items-start justify-end lg:justify-center">
        <h1 class="text-6xl"><b>Meta</b>Rivals</h1>
        <p class="text-3xl text-center lg:text-left mt-4">
            First <b>Crypto <h1 class="text-Gold inline">Rivalry <br /> Game</h1></b> Based on <br /> Crypto
            Avatars
        </p>
        <div class="flex my-2 items-center text-center justify-center">
            <h1 class="text-base mr-4 font-bold">POWERED BY</h1>
            <img src="../../../assets/Powered-By.png" class="w-8 mx-2" alt="" srcset="">
            <img src="../../../assets/solana-sol-logo.svg" class="w-8 mx-2" alt="" srcset="">
            <img src="../../../assets/terra-luna-luna-logo.svg" class="w-8 mx-2" alt="" srcset="">
            <img src="../../../assets/polygon-matic-logo.svg" class="w-8 mx-2" alt="" srcset="">
        </div>
        <button
            class="w-52 hover:scale-105 transition-all text-lg font-bold rounded-3xl h-12 my-4 bg-gradient-to-r from-[#FF6371] to-[#FF933C] ">
            IDO Coming Soon!
        </button>
        <h1 class="text-base font-bold">
            Backed by <h1 class="text-Gold inline">100k Strong</h1> Community Members
        </h1>
        <div class="mt-4">
            <fa-icon class="m-1 text-3xl" [icon]="x[2]"></fa-icon>
            <fa-icon class="m-1 text-3xl" [icon]="x[0]"></fa-icon>
            <fa-icon class="m-1 text-3xl" [icon]="x[3]"></fa-icon>
            <fa-icon class="m-1 text-3xl" [icon]="x[1]"></fa-icon>
        </div>
    </div>
</div>